
.collections
  display: flex
  flex-wrap: wrap
  margin-left: -35px

.collection
  transition: box-shadow .3s
  display: flex
  flex-direction: column
  margin-bottom: sp
  padding: sp-sm
  background-color: c-white
  border-radius: radius
  box-shadow: 0 13px 35px rgba(10, 10, 10, .07)

  &__cards
    display: flex

  &__card
    width: 33%
    height: 73px
    background-color: c-gray-sm
    background-size: cover
    margin: 3px 
    border-radius: 3px

  &__title
    margin-top: sp-mm
    background: none
    color: c-black
    font-family: 'lato-semibold'
    font-size: 23px
  
  &:hover
    box-shadow: 0 17px 35px rgba(10, 10, 10, .13)
