
.navigation
  display: flex
  flex-direction: column
  justify-content: space-between
  max-width: 337px
  width: 35%
  height: 100%
  background-color: c-gray-mm-tr

  &__scroll-flex
    overflow: auto
