
.titles
  display: block

  &__big
    font-size: 25px
    color: c-black

    &.--sm
      font-size: 21px
  
  &__small
    font-size: 18px
    color: c-gray

    &.--sm
      font-size: 15px
  
  &.--action
    display: flex
    align-items: flex-end
    justify-content: space-between
